.card {
  max-height: 182px;
  height: 100%;
  background: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  border-top-left-radius: 12px;
  border-top-right-radius: 12px;

  .card-header {
    height: 97px;
    .header-text {
      font-weight: 600;
      font-size: 28px;
      line-height: 100%;
      padding: 20px;
      color: rgba(25, 83, 233, 1);
    }
  }
  .card-foter {
    height: 85px;
    width: 377;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    box-shadow: 0px -1px 20px 0px rgba(0, 0, 0, 0.1);
    position: relative;
    .foter-times {
      margin-top: 23px;
      padding: 0 15px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .time-start {
        display: flex;
        align-items: center;
        gap: 2px;
        p {
          font-weight: 400;
          font-size: 12px;
          line-height: 100%;
          letter-spacing: 0%;
          color: rgba(104, 102, 102, 1);
        }
      }
      .time-status {
        font-weight: 500;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: 0%;
        color: rgba(104, 102, 102, 1);
      }
    }
    .foter-progres {
      position: absolute;
      bottom: 0;
      height: 22px;
      width: 100%;
      background-color: red;
    }
  }
}
