.custom-input {
  display: flex;
  flex-direction: column;
  gap: 4px;

  .input-label {
    font-size: 14px;
    font-weight: 600;
    color: #333;
  }

  .input-field {
    border-radius: 6px;
    transition: 0.3s;
  }

  .input-error {
    border: 1px solid red;
  }

  .error-text {
    font-size: 12px;
    color: red;
  }
}
